.card-inner-icon{
    border-style: dashed;
    border-color:  #ee7e19;
    border-width: 2px;
    border-radius: 50px;

    font-size: 70px;
    padding: 13px;
    color: #50af9b;
}

@media only screen and (max-width : 600px) {
.breadcrumb-area {
    padding: 185px 0 50px;

}
    .footer-subscribe .footer-subscribe-inner.style-2 {
        display: none !important;
        }    
}

@media only screen and (min-width : 998px){
    
    .breadcrumb-area {
        padding: 222px 0 108px;

    }

.col-build-5{
    width: 20%;
}
}

@media only screen and (min-width : 1400px){
    .breadcrumb-area {
        padding: 222px 0 108px;

    }

.col-build-5{
    width: 20%;
}
}

.thumb .about-icons{
    color: black;
    font-size: 30px;
}


.thumb  :hover .about-icons{
    color: white;
    font-size: 30px;
}
.title_Update{
    font-size: 17px;
}

.single-list-inner.style-heading li {
    font-size: 13px;
}
.FaqArea_title{
    font-size: 38px;
}

.com-logo{
    width:80%;
    height:200px;
}
@media only screen and (min-width : 998px){
    .footer-subscribe .footer-subscribe-inner.style-2 {
    display: flex !important;
    }
    .title_Update{
        font-size: 17px;
    }
    .single-list-inner.style-heading li {
        font-size: 13px;
    }
}
@media only screen and (min-width : 1200px){
    .title_Update{
        font-size: 17px;
    }
    .single-list-inner.style-heading li {
        font-size: 13px;
    }
}
@media only screen and (min-width : 1400px){
    .footer-subscribe .footer-subscribe-inner.style-2 {
        display: flex !important;
        }

    .title_Update{
        font-size: 20px;
    }
    .single-list-inner.style-heading li {
        font-size: 15px;
    }
}


@media (max-width: 600px){
.navbar {
    background-color: black;
}
}